body {
    height: 100%;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0px 5px 0px;
}

#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

#header .logo a {
  color: #0f394c;
}

#header .logo img {
  max-height: 40px;
}

#header .logo-and-title {
  width: 200px;
  flex-direction: row;
  display: flex;
  align-items: center;
}